---
import Nucleus from '../components/Nucleus.astro';
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Stats from '../components/Stats.astro';
import News from '../components/News.astro';
import Blog from '../components/Blog.astro';
---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40 mb-40">
		<HeroSection/>
		<Features/>
		<Nucleus/>
		<Stats/>
		<!-- <Blog/> -->
		<News/>
	</main>
</Layout>