@import 'tailwindcss';

@theme {
    --color-primary : #134675;
    --color-accent : #4CC9F0;
    --color-highlight : #F4C430;
    --color-surface : #0a0e1a;
    --color-surface-light : #111827;
    --color-surface-card : #1a1f35;
}